<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079259920025-cuj8nn8t02n7i0vlgaceap1vt7e980u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079259920025-cuj8nn8t02n7i0vlgaceap1vt7e980u0</string>
	<key>API_KEY</key>
	<string>AIzaSyAObMFsIbhCurkmZnOj8yG5Q2w5xjNS6bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1079259920025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahil.fcmMobileWeb</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-7fe99</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-7fe99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079259920025:ios:5b07278c0a4df240e6aa08</string>
</dict>
</plist>